@import url(style/header.css);
@import url(style/main.css);
@import url(style/banner.css);

:root{
    --branco: #FFFFFF;
    --nav-links-color:#667085;
    --vermelho-logo: #8E2424;
    --cor-dos-titulos:#101828;
    --cor-dos-textos:#667085;
    --opiniao-fundo: rgba(196, 25, 25, 0.03);
}
body{
    font-family: 'Inter', sans-serif;
}

.grid__container{
    display: grid;
}
.flex__container{
    display: flex;
}