.banner{
    padding-bottom: 96px;
    column-gap: 2rem;
    padding: 0 5rem;
    justify-content: space-evenly;
}
.banner__cards{
    flex-direction: column;
    row-gap: 1rem;
    width: 20%;
}
.banner__titulo{
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-logo);
}
.banner__sub-titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-dos-titulos);
}
.banner__texto{
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-dos-textos);
}
