
.titulo{
    color: var(--cor-dos-titulos);
}
.texto__main{
    color: var(--cor-dos-textos);
}

.sobre__nos{
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 24px;
}
span{
    font-size: 16px;
    font-weight: 600;
    color: var(--vermelho-logo);
}
.sobre__nos-titulo{
    font-size: 48px;
    font-weight: 600;
    padding: 0 0 20px 0;
}
.texto__main{
    font-size: 20px;
    font-weight: 400;
    flex-wrap: wrap;
    width: 60%;
    text-align: center;
}

/**************** VAGAS ****************/
.vagas{
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    row-gap: 1.5em;
}
.vagas-titulo{
    font-size: 36px;
    font-weight: 600;
}
.vagas-imagem{
    width: 90%;
    margin: 1em 0 4em 0;
}
.vagas__disponiveis{
    width: 60%;
}
.vaga__descricao{
    flex-direction: column;
    row-gap: 1.5em;
}
.vagas__areas{
    flex-direction: column;
    row-gap: 3em;
    width: 100%;
}
.areas__titulo{
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-dos-titulos);
}
.vaga{
    padding: 2em;
    gap: 2em;
    flex-direction: column;
    border: 1px solid #EAECF0;
    border-radius: 16px;
}
.vaga__titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-dos-titulos);
    padding: 1em 0;
}
.vaga div{
    column-gap: 2em;
}
.vaga p{
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-dos-textos);
}
